<?xml version="1.0"?>
<ruleset name="Zactonz AI Connector Ollama">
	<description>WordPress and PHP compatibility checks for the plugin.</description>
	<file>igniter.php</file>
	<file>includes</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>
	<ini name="error_reporting" value="24575"/>
	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="PHPCompatibilityWP">
		<properties>
			<property name="testVersion" value="7.4-"/>
		</properties>
	</rule>
	<config name="minimum_supported_wp_version" value="7.0"/>
</ruleset>
